/thumbnail.png
/target
/dpedal_firmware/target
/pcb/dpedal_pcb-backups
/pcb/dpedal_pcb.step
/pcb/fp-info-cache
/dpedal_gerber_files.zip
/dpedal_3d_printed_parts.zip
/dpedal_pcb.step
/dpedal_config_web_app/target
/dpedal_firmware.uf2
/site/root