version 0

// type of device being configured, currently dpedal is the only possible value
device dpedal-v3

// This name shows up in the web configurator to help tell the pedals apart
nickname "My DPedal"

// The color of the pedal in the web configurator
color 0xFF0000

// A maximum of 50 profiles can be defined.
// On startup, dpedal will use the first defined profile.
profiles {
    // Standard profile
    - {
        mappings {
          - on-press : dpad-up -> mouse-scroll-up 20
          - on-press : dpad-down -> mouse-scroll-down 20
          - on-press : dpad-left -> mouse-scroll-left 20
          - on-press : dpad-right -> mouse-scroll-right 20
          - on-press : button-left -> keyboard-page-up
          - on-press : button-right -> keyboard-page-down
        }
    }
    // Alternate profile
    // - {
    //     mappings {
    //       - on-press : dpad-up -> mouse-scroll-up 20
    //       - on-press : dpad-down -> mouse-scroll-down 20
    //       - on-press : dpad-left -> mouse-scroll-left 20
    //       - on-press : dpad-right -> mouse-scroll-right 20
    //       - on-press : button-left -> keyboard-page-up
    //       - on-press : button-right -> keyboard-page-down
    //     }
    // }
}

pin-remappings { }