version 0

// type of device being configured, currently dpedal is the only possible value
device dpedal

// This name shows up in the web configurator to help tell the pedals apart
nickname "My DPedal"

// The color of the pedal in the web configurator
color 0xFF0000

// A maximum of 50 profiles can be defined.
// On startup, dpedal will use the first defined profile.
profiles {
    // Standard profile
    - {
        mappings {
          - "dpad-up -> mouse-scroll-up"
          - "dpad-down -> mouse-scroll-down"
          - "dpad-left -> mouse-scroll-left"
          - "dpad-right -> mouse-scroll-right"
          - "button-left -> keyboard-page-up"
          - "button-right -> keyboard-page-down"

          // TODO:
          // - button-left+button_right+dpad_down -> enter-flash-mode
          // - button-left+button_right -> go-to-profile 2
          // and allow:
          // - dpad-right -> mouse-scroll-right 5 + sleep 5s + mouse-scroll-right 5
        }
    }
    // Alternate profile
    // - {
    //     dpad-up mouse-scroll-up
    //     dpad-down mouse-scroll-down
    //     dpad-left mouse-scroll-left
    //     dpad-right mouse-scroll-right

    //     button-left keyboard-page-up
    //     button-right keyboard-page-down

    //     // TODO:
    //     // button-left+button_right+dpad_down enter-flash-mode
    //     // button-left+button_right go-to-profile 1
    // }
}

pin-remappings { }