// Configure the dpad in the middle of the dpedal
pad {
    // left and right are initially set to "Nothing" as they are easy to bump when you start learning to operate the dpedal
    // Once you are comfortable with navigating up and down with dpedal try setting left "Left" and right "Right"
    left "Nothing"
    right "Nothing"
    up "Up"
    down "Down"
}

// Configure the buttons on the corners of the dpedal
side-buttons {
    top-left "Backspace"
    top-right "Enter"
    bottom-left "LeftShift"
    bottom-right "Tab"
}

// Configure the buttons on the extension device plugged into 20-pin port on the back of the dpedal
back-extension {
    button1 "Nothing"
    button2 "Nothing"
    button3 "Nothing"
    button4 "Nothing"
}

// Full list of available keycodes:
// A
// B
// C
// D
// E
// F
// G
// H
// I
// J
// K
// L
// M
// N
// O
// P
// Q
// R
// S
// T
// U
// V
// W
// X
// Y
// Z
// Keyboard1 // `1` and `!`
// Keyboard2 // `2` and `@`
// Keyboard3 // `3` and `#`
// Keyboard4 // `4` and `$`
// Keyboard5 // `5` and `%`
// Keyboard6 // `6` and `^`
// Keyboard7 // `7` and `&`
// Keyboard8 // `8` and `*`
// Keyboard9 // `9` and `(`
// Keyboard0 // `0` and `)`
// LeftCtrl
// LeftShift
// LeftAlt
// LeftWindows
// RightCtrl
// RightShift
// RightAlt
// RightWindows
// Enter
// Escape
// Backspace
// Tab
// Space
// Minus // `-` and `_`.
// Equal // `=` and `+`.
// LeftBracket // `[` and `{`.
// RightBracket // `]` and `}`.
// Backslash // `\` and `|`.
// NonUsHash // Non-US `#` and `~` (Typically near the Enter key).
// Semicolon // `;` and `:`.
// Quote // `'` and `"`.
// Grave // \` and `~`.
// Comma // `` and `<`.
// Dot // `.` and `>`.
// Slash // `/` and `?`.
// Capslock
// F1
// F2
// F3
// F4
// F5
// F6
// F7
// F8
// F9
// F10
// F11
// F12
// PrintScreen
// ScrollLock
// Pause
// Insert
// Home
// PgUp
// Delete
// End
// PgDown
// Right
// Left
// Down
// Up
// NumLock
// KeypadSlash // Keypad `/`
// KeypadAsterisk // Keypad `*`
// KeypadMinus // Keypad `-`.
// KeypadPlus // Keypad `+`.
// KeypadEnter // Keypad enter.
// Keypad1
// Keypad2
// Keypad3
// Keypad4
// Keypad5
// Keypad6
// Keypad7
// Keypad8
// Keypad9
// Keypad0
// KeypadDot
// NonUsBslash // Non-US `\` and `|` (Typically near the Left-Shift key)
// Application
// Power
// KeypadEqual // Keypad `=`
// F13
// F14
// F15
// F16
// F17
// F18
// F19
// F20
// F21
// F22
// F23
// F24
// Execute
// Help
// Menu
// Select
// Stop
// Again
// Undo
// Cut
// Copy
// Paste
// Find
// Mute
// VolUp
// VolDown
// KeypadComma // Keypad ``, also used for the brazilian keypad period (.) key.
// KeypadEqualSign // Used on AS/400 keyboard
// Intl1
// Intl2
// Intl3
// Intl4
// Intl5
// Intl6
// Intl7
// Intl8
// Intl9
// Lang1
// Lang2
// Lang3
// Lang4
// Lang5
// Lang6
// Lang7
// Lang8
// Lang9
// AltErase
// SysReq
// Cancel
// Clear
// Prior
// Return
// Separator
// Out
// Oper
// ClearAgain
// CrSel
// ExSel
// MediaPlayPause
// MediaStopCD
// MediaPreviousSong
// MediaNextSong
// MediaEjectCD
// MediaVolUp
// MediaVolDown
// MediaMute
// MediaWWW
// MediaBack
// MediaForward
// MediaStop
// MediaFind
// MediaScrollUp
// MediaScrollDown
// MediaEdit
// MediaSleep
// MeidaCoffee
// MediaRefresh
// MediaCalc
