// Configure the dpad in the middle of the dpedal
pad {
    left "Left"
    right "Right"
    up "Up"
    down "Down"
}

// Configure the buttons on the corners of the dpedal
side-buttons {
    top-left "BSpace"
    top-right "Enter"
    bottom-left "LShift"
    bottom-right "Tab"
}

// Configure the buttons on the extension device plugged into 20-pin port on the back of the dpedal
back-extension {
    button1 "BSpace"
    button2 "enter"
    button3 "n"
    button4 "shift"
}

// Full list of available keycodes:
// A
// B
// C
// D
// E
// F
// G
// H
// I
// J
// K
// L
// M
// N
// O
// P
// Q
// R
// S
// T
// U
// V
// W
// X
// Y
// Z
// Kb1 // `1` and `!`
// Kb2 // `2` and `@`
// Kb3 // `3` and `#`
// Kb4 // `4` and `$`
// Kb5 // `5` and `%`
// Kb6 // `6` and `^`
// Kb7 // `7` and `&`
// Kb8 // `8` and `*`
// Kb9 // `9` and `(`
// Kb0 // `0` and `)`
// LCtrl
// LShift
// LAlt
// LGui // The windows key
// RCtrl
// RShift
// RAlt
// RGui
// Enter
// Escape
// BSpace
// Tab
// Space
// Minus // `-` and `_`.
// Equal // `=` and `+`.
// LBracket // `[` and `{`.
// RBracket // `]` and `}`.
// Bslash // `\` and `|`.
// NonUsHash // Non-US `#` and `~` (Typically near the Enter key).
// SColon // `;` and `:`.
// Quote // `'` and `"`.
// Grave // \` and `~`.
// Comma // `` and `<`.
// Dot // `.` and `>`.
// Slash // `/` and `?`.
// CapsLock
// F1
// F2
// F3
// F4
// F5
// F6
// F7
// F8
// F9
// F10
// F11
// F12
// PScreen
// ScrollLock
// Pause
// Insert
// Home
// PgUp
// Delete
// End
// PgDown
// Right
// Left
// Down
// Up
// NumLock
// KpSlash // Keypad `/`
// KpAsterisk // Keypad `*`
// KpMinus // Keypad `-`.
// KpPlus // Keypad `+`.
// KpEnter // Keypad enter.
// Kp1 // Keypad 1
// Kp2 // Keypad 2
// Kp3 // Keypad 3
// Kp4 // Keypad 4
// Kp5 // Keypad 5
// Kp6 // Keypad 6
// Kp7 // Keypad 7
// Kp8 // Keypad 8
// Kp9 // Keypad 9
// Kp0 // Keypad 0
// KpDot
// NonUsBslash // Non-US `\` and `|` (Typically near the Left-Shift key)
// Application
// Power
// KpEqual // Keypad `=`
// F13
// F14
// F15
// F16
// F17
// F18
// F19
// F20
// F21
// F22
// F23
// F24
// Execute
// Help
// Menu
// Select
// Stop
// Again
// Undo
// Cut
// Copy
// Paste
// Find
// Mute
// VolUp
// VolDown
// KpComma // Keypad ``, also used for the brazilian keypad period (.) key.
// KpEqualSign // Used on AS/400 keyboard
// Intl1
// Intl2
// Intl3
// Intl4
// Intl5
// Intl6
// Intl7
// Intl8
// Intl9
// Lang1
// Lang2
// Lang3
// Lang4
// Lang5
// Lang6
// Lang7
// Lang8
// Lang9
// AltErase
// SysReq
// Cancel
// Clear
// Prior
// Return
// Separator
// Out
// Oper
// ClearAgain
// CrSel
// ExSel
// MediaPlayPause
// MediaStopCD
// MediaPreviousSong
// MediaNextSong
// MediaEjectCD
// MediaVolUp
// MediaVolDown
// MediaMute
// MediaWWW
// MediaBack
// MediaForward
// MediaStop
// MediaFind
// MediaScrollUp
// MediaScrollDown
// MediaEdit
// MediaSleep
// MeidaCoffee
// MediaRefresh
// MediaCalc
