{% extends "base.html" %}

{% block title %}
DPedal Build Instructions
{% endblock %}

{% block content %}
<h1>DPedal Build Instructions</h1>
<h2>Parts</h2>

<table>
  <tr>
    <th>Part</th>
    <th>Quantity</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>DPedal PCB</td>
    <td>1</td>
    <td><a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_gerber_files.zip">Download</a>, then
      <a href="#orderpcb">order online</a>
    </td>
  </tr>
  <tr>
    <td>Raspberry Pi Pico 1 USB C clone (headerless)</td>
    <td>1</td>
    <td><a href="https://www.amazon.com.au/DIGISHUO-Raspberry-Pi-Pico-Dual-Core/dp/B0C3BWBL2F">Amazon</a>, <a
        href="https://www.aliexpress.com/item/1005009937863506.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>2m USB C&lt;-&gt;A cable</td>
    <td>1</td>
    <td><a href="">Amazon</a></td>
  </tr>
  <tr><!--TODO: split into own section and list each part individually-->
    <td>3D printed parts</td>
    <td>1 each</td>
    <td><a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_3d_printed_parts.zip">Download</a>
      and print yourself,<br>or upload to a <a href="https://jlc3dp.com/3d-printing-quote">printing
        service</a>
    </td>
  </tr>
  <tr>
    <td>8mm M3 machine screws</td>
    <td>8</td>
    <td><a href="https://www.aliexpress.com/item/32810872544.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>M3 square nuts</td>
    <td>8</td>
    <td><a href="https://www.aliexpress.com/item/1005001612157787.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>choc v1 28.5mm buttons</td>
    <td>2</td>
    <td><a href="https://www.aliexpress.com/item/1005006902597750.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>white choc v1 switches</td>
    <td>6</td>
    <td><a href="https://www.aliexpress.com/item/1005005066585322.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>choc v1 hotswap sockets</td>
    <td>6</td>
    <td><a href="https://www.aliexpress.com/item/1005003575767699.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>Solder</td>
    <td>enough</td>
    <td><a href="https://www.amazon.com.au/gp/product/B09LDCZGH1">Amazon</a></td>
  </tr>
</table>

<p>Note: The official micro USB version of the Pico will also work fine, but I recommend the unofficial USB C clone,
  since USB C is a nicer connector. Just make sure to get one that matches the dimensions of the official Pico,
  including the components on the pico which can be placed differently in some clones.</p>
<!--
    * wire lengths (including stripped ends):
    * button left: 70mm
    * dpad left: 55mm
    * dpad top: 70mm
    * dpad right: 150mm (technically 145mm)
    * dpad bottom: 150mm
    * button right: 140mm
    -->

<img src="/media/all_parts.webp">

<h2>Tools</h2>

<table>
  <tr>
    <th>Tool</th>
    <th>Link</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>3D printer</td>
    <td></td>
    <td>I personally have a Prusa mini, but these days the Bambu Lab P1S is a much better option.</td>
  </tr>
  <tr>
    <td>Soldering iron</td>
    <td></td>
    <td>I personally have a Hakko FX-888D, but a Pinecil or similar is a better budget option.</td>
  </tr>
  <tr>
    <td>3M Hex key</td>
    <td><a href="https://www.amazon.com.au/FITTOO-Hex-Key-Set-Ball/dp/B0F938VSXX">Amazon</a>
    </td>
    <td></td>
  </tr>
</table>
<!--<p>TODO: image of everything laid out</p>-->

<h2 id="orderpcb">Ordering PCB</h2>

<ol>
  <li>Download <a
      href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_gerber_files.zip">dpedal_gerber_files.zip</a>.
  </li>
  <li>Go to <a href="https://cart.jlcpcb.com/quote">JLCPCB</a>, click "Add gerber file" and upload the
    dpedal_gerber_files.zip you just downloaded</li>
  <li>Set the following options, leaving the rest as default:</li>
  <ul>
    <li>Surface finish: LeadFree HASL</li>
    <li>PCB thickness 1.2mm</li>
    <li>PCB Color: whatever you want</li>
  </ul>
  <li>Complete order. You probably want "Global Standard Direct Line" for shipping.</li>
</ol>

<h2>Printing</h2>

<p>
  Download the STLs <a
    href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_3d_printed_parts.zip">here</a>.
  Then slice and print each STL yourself, or upload to a <a href="https://jlc3dp.com/3d-printing-quote">printing
    service</a>.
</p>

<p>Slicing configuration for each part:</p>

<ul>
  <li>default orientation with no supports</li>
  <li>layer height: 0.10mm (The model is very precise, so don't go any higher than this)</li>
  <li>infill: 15% grid infill (I just use grid because its the default, any infill type is probably fine)</li>
  <li>Filament: I use PLA but any hard filament should work fine.</li>
</ul>

<h2>Soldering</h2>

<p>
  If its your first time soldering, iFixit has a <a href="https://www.youtube.com/watch?v=rK38rpUy568">nice
    introduction</a>. They stress the importance of flux, and while flux is important, the soldering required for this
  project is simple enough you can get away with skipping it. You should also learn about <a
    href="https://www.youtube.com/watch?v=yTcxn773G-4">iron tip maintenance</a>.
</p>
<p>For lead-free solder I reccommend setting your iron to 350 degrees.</p>
<ol>
  <li>Take the printed jig and Pico.</li>
  <img loading="lazy" src="/media/pico_jig1.webp">
  <li>Connect printed jig into the Pico via the through holes and pins</li>
  <img loading="lazy" src="/media/pico_jig2.webp">
  <li>Connect Pico to the PCB via the jig, it may need to be pushed until clicking into place. The Pico should sit
    secure and flatly on the PCB. Make sure the orientation matches the image, the "DPedal V3" text should NOT be
    visible on the PCB.</li>
  <ul>
    <li>NOTE: If the Pico is not sitting flat against the PCB, some masking tape can be used to secure it.</li>
  </ul>
  <img loading="lazy" src="/media/pico_jig4.webp">
  <li>Solder Pico to the PCB. For every pad on the PCB, heat both the pad on the Pico and the pad on the PCB with the
    tip of the soldering iron, while feeding solder into the point where the iron and two pads connect.
  </li>
  <ul>
    <li>WARNING: The solder should not form large blobs on top of the Pico or you may have trouble fitting the PCB into
      the case.</li>
    <li>NOTE: Having this many small pads close together may sound tricky with risk of shorting adjacent pads, in
      reality as long as you use only a minimal amount of solder, its not too bad as solder will want to stick to the
      hot metal
      surfaces and avoid the green PCB surface. However if you do manage to join some adjacent pads, you might find <a
        href="https://www.youtube.com/watch?v=IjOh5ShVX_w">solder wick</a> helpful.</li>
  </ul>
  <img loading="lazy" src="/media/pico_jig5.webp">
  <li>Place hotswap sockets into their holes on the PCB and solder the sockets to the PCB: Heat the ends of the
    socket and the pad on the PCB with the iron, while feeding solder into the point where the iron, PCB pad and socket
    end
    meet.</li>
  <img loading="lazy" src="/media/hotswap_solder.webp">
</ol>

<h2>Flashing firmware</h2>

<ol>
  <li>Start holding down the bootsel button. Do not let go.</li>
  <img loading="lazy" src="/media/flashing1.webp">
  <li>Connect the Pico/PCB to your computer via USB.</li>
  <img loading="lazy" src="/media/flashing2.webp">
  <li>Let go of the bootsel button.</li>
  <img loading="lazy" src="/media/flashing3.webp">
  <li>Follow the steps below depending on your OS:</li>
  <ul>

    <li>macOS</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_flash-aarch64-apple-darwin.tar.xz">firmware
          (arm host)</a>
        and unzip.</li>
      <li>Open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
    </ol>
    <li>Windows</li>
    <ol>
      <li>Download the <a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_firmware.uf2">firmware
          (UF2 file)</a></li>
      <li>The Pico should present itself as an extra drive. Click and drag the downloaded dpedal_firmware.uf2 onto the
        Pico's drive
      </li>
      <img loading="lazy" src="/media/uf2_windows2.webp">
    </ol>
    <li>Linux</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_flash-x86_64-unknown-linux-gnu.tar.xz">firmware
          (x86 host)</a>
        <!-- or
           <a
          href="https://github.com/rukai/DPedal/releases/latest/download/TODO">firmware
          (arm host)</a>
          -->
        and unzip.
      </li>
      <li>open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
      <img loading="lazy" src="/media/linux_flash.webp">
    </ol>
  </ul>

  <li>Insert a switch into each socket</li>
  <ul>
    <li>WARNING: the orientation of the pins is different for each socket, make sure the switch is oriented correctly as
      you insert it.</li>
  </ul>
  <img loading="lazy" src="/media/flashing4.webp">
  <li>Open <a href="scroll_test.html">this page</a> and test each button works, the default button mapping of the DPedal
    has mouse scroll on the dpad and page up/down on the left/right buttons.</li>
  <ul>
    <li>
      If the pedal is not working as expected, go back and examine your solder joints for cases where the joint is not
      sufficient for connectivity or is shorting with an adjacent joint.
    </li>
  </ul>
  <li>Unplug from the computer and disconnect the switches again, to prepare for the next stage.</li>
  <img loading="lazy" src="/media/flashing5.webp">
</ol>

<h2>Assembling</h2>

<ol>
  <li>Place PCB into the base part with the hole for the USB port.</li>
  <img loading="lazy" src="/media/switchplate_and_base1.webp">
  <li>Place switch plate on top of the PCB</li>
  <img loading="lazy" src="/media/switchplate_and_base2.webp">
  <li>Place 4 screws through the switch plate and base.</li>
  <img loading="lazy" src="/media/switchplate_and_base3.webp">
  <li>For each screw, hold a square nut behind it and screw them together.</li>
  <img loading="lazy" src="/media/switchplate_and_base4.webp">
  <li>Push all 6 switches into their sockets until they click into place.</li>
  <ul>
    <li>WARNING: the orientation of the pins is different for each socket, make sure the switch is oriented correctly as
      you insert it. </li>
  </ul>
  <img loading="lazy" src="/media/insert_switches.webp">
  <li>Put the dpad between the two base pieces and push the pieces together.</li>
  <img loading="lazy" src="/media/connect_other_base.webp">
  <li>Screw the remaining base part to the switch plate, using 4 screws and 4 nuts.</li>
  <img loading="lazy" src="/media/screw_other_base.webp">
  <li>Push the 2 buttons into the 2 empty switches</li>
  <img loading="lazy" src="/media/insert_buttons.webp">
</ol>
<!--
    1. cut wires and strip ends, strip about ~2-3mm
    * cut the longer wires first, in case you mess up the stripping and your long wires need to become short wires :)
    2. solder wires to pico
    3. place pico in pico base
    4. place pico base and non-pico base next to each other
    5. place switch plate on top of pico base, thread through all the soldered wires out of the switch holes
    6. screw the switch plate on to the pico base
    7. solder the wires to switches, one switch per socket
    8. clip the switches into their sockets
    9. Put the dpad between the two base pieces and push the pieces together.
    10. Screw the right base to the switch plate
    11. Push the 2 buttons into the 2 empty switches
    -->


<h2>Finished!</h2>

<p>Your DPedal is now fully assembled and ready to use.</p>
<img src="/media/finished.webp" loading="lazy">

<p>Slot in the footrest when using it.</p>
<img src="/media/attach_footrest.webp" loading="lazy">

<p>If you want to change the keyboard/mouse mapping you can use the <a href="/config.html">web configurator</a>.</p>

<h2>Community</h2>

<p>Something not working out? Or want to share the results of a successful build?</p>
<p>Join the <a href="https://discord.gg/KyjBs4x">Discord</a>!</p>

<div style="height:100px;">
  <!-- add some extra padding at the bottom, so the text doesn't abruptly hit the bottom of the page-->
</div>

{% endblock %}