{% extends "base.html" %}

{% block title %}
DPedal build instructions
{% endblock %}

{% block content %}
<h1>DPedal build instructions</h1>
<h2>Parts</h2>
<table>
  <tr>
    <th>Part</th>
    <th>Quantity</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>DPedal PCB</td>
    <td>1</td>
    <td><a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_gerber_files.zip">Download</a>, then
      <a href="#orderpcb">order online</a>
    </td>
  </tr>
  <tr>
    <td>Raspberry Pi pico 1 USB C variant (headerless)</td>
    <td>1</td>
    <td><a href="https://www.amazon.com.au/DIGISHUO-Raspberry-Pi-Pico-Dual-Core/dp/B0C3BWBL2F">Amazon</a></td>
  </tr>
  <tr>
    <td>2m USB C&lt;-&gt;A cable</td>
    <td>1</td>
    <td><a href="">Amazon</a></td>
  </tr>
  <tr><!--split into own section and list each part individually-->
    <td>3D printed parts</td>
    <td>1 each</td>
    <td><a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_3d_printed_parts.zip">Download</a>
      and print yourself,<br>or upload to a <a href="">printing
        service</a>
    </td>
  </tr>
  <tr>
    <td>8mm M3 machine screws</td>
    <td>8</td>
    <td><a href="https://www.aliexpress.com/item/32810872544.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>M3 square nuts</td>
    <td>8</td>
    <td><a href="https://www.aliexpress.com/item/1005001612157787.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>choc v1 28.5mm buttons</td>
    <td>2</td>
    <td><a href="https://www.aliexpress.com/item/1005006902597750.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>white choc v1 switches</td>
    <td>6</td>
    <td><a href="https://www.aliexpress.com/item/1005005066585322.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>choc v1 hotswap sockets</td>
    <td>6</td>
    <td><a href="https://www.aliexpress.com/item/1005003575767699.html">AliExpress</a></td>
  </tr>
  <tr>
    <td>Solder</td>
    <td>enough</td>
    <td><a href="https://www.amazon.com.au/gp/product/B09LDCZGH1">Amazon</a></td>
  </tr>
</table>

<p>Note: The official micro usb version of the Pico will also work fine, but I recommend the unofficial usb C version,
  since USB C is a nicer connector.</p>
<!--
    * wire lengths (including stripped ends):
    * button left: 70mm
    * dpad left: 55mm
    * dpad top: 70mm
    * dpad right: 150mm (technically 145mm)
    * dpad bottom: 150mm
    * button right: 140mm
    -->

<img src="/media/all_parts.webp">


<h2>Tools</h2>

<table>
  <tr>
    <th>Tool</th>
    <th>Link</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>3D printer</td>
    <td><a href="https://www.amazon.com.au/ORIGINAL-PURSA-Beginner-Friendly-Filament-180X180X180/dp/B0D2HXHNG6">Prusa
        mini on Amazon</a>
    </td>
    <td>The Prusa Mini is the printer I personally use.<br>
      The mini is a bit outdated but it's reliable, repairable and <br>I can only recommend a printer I've
      actually used. <br> Getting the kit is a great way to learn more about printers through the assembly process.</td>
  </tr>
  <tr>
    <td>Soldering iron</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>3M Hex key</td>
    <td><a href="https://www.amazon.com.au/FITTOO-Hex-Key-Set-Ball/dp/B0F938VSXX">Amazon</a>
    </td>
    <td></td>
  </tr>
</table>
<!--<p>TODO: image of everything laid out</p>-->

<h2 id="orderpcb">Ordering PCB</h2>
<ol>
  <li>Download <a
      href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_gerber_files.zip">dpedal_gerber_files.zip</a>.
  </li>
  <li>Go to <a href="https://cart.jlcpcb.com/quote">JLCPCB</a>, click "Add gerber file" and upload the
    dpedal_gerber_files.zip you just downloaded</li>
  <li>Set the following options, leaving the rest as default:</li>
  <ul>
    <li>Surface finish: LeadFree HASL</li>
    <li>PCB thickness 1.2mm</li>
    <li>PCB Color: whatever you want</li>
  </ul>
  <li>Complete order. You probably want "Global Standard Direct Line" for shipping.</li>
</ol>


<h2>Printing</h2>

<p>
  Download the STLs <a
    href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_3d_printed_parts.zip">here</a>.
  Then slice and print each STL yourself.
</p>

<p>Slicing configuration for each part:</p>

<ul>
  <li>default orientation with no supports</li>
  <li>layer height: 0.10mm (The model is very precise, so don't go any higher than this)</li>
  <li>infill: 15% grid infill (I just use grid because its the default, any infill type is probably fine)</li>
  <li>Filament: I use PLA but any hard filament should work fine.</li>
</ul>

<h2>Soldering</h2>
<!--
TODO: Intro to soldering
-->
<ol>
  <li>Take the printed jig and pico</li><img loading="lazy" src="/media/pico_jig1.webp" height="287">
  <li>Connect printed jig into the pico via the through holes and pins</li><img src="/media/pico_jig2.webp"
    height="287">
  <li>Connect Pico to the PCB via the jig, it may need to be pushed until clicking into place. The pico should sit
    secure and flatly on the PCB. Make sure the orientation matches the image, the "DPedal V3" text should not be
    visible on the PCB.</li><img loading="lazy" src="/media/pico_jig4.webp" height="287">
  <li>Solder Pico to the PCB, some masking tape can be used to further secure the pico until the first few solder joints
    are made. Heat both the pad on the pico and the pad on the PCB with the tip of the soldering iron, then solder into
    the point where the two pins connect. The solder should not form blobs on top of the pico or you may have trouble
    fitting into the case.</li><img loading="lazy" src="/media/pico_jig5.webp" height="287">
  <li>Solder hotswap sockets to PCB</li>
</ol>

<h2>Flashing firmware</h2>

<ol>
  <li>Plug in the Pico/PCB to your PC while holding down the flash button.</li>
  <li>Follow the steps below depending on your OS</li>
  <ul>

    <li>macOS</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_flash-aarch64-apple-darwin.tar.xz">firmware
          (arm host)</a>
        and unzip.</li>
      <li>Open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
    </ol>
    <li>Windows</li>
    <ol>
      <li>Download the <a href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_firmware.uf2">firmware
          (UF2 file)</a></li>
      <li>The Pico should present itself as an extra drive. Click and drag the downloaded dpedal_firmware.uf2 onto the
        Pico's drive
      </li>
      <img loading="lazy" src="/media/uf2_windows2.webp">
    </ol>
    <li>Linux</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal/releases/latest/download/dpedal_flash-x86_64-unknown-linux-gnu.tar.xz">firmware
          (x86 host)</a>
        <!-- or
           <a
          href="https://github.com/rukai/DPedal/releases/latest/download/TODO">firmware
          (arm host)</a>
          -->
        and unzip.
      </li>
      <li>open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
    </ol>
  </ul>

  <li>Insert a switch into each socket</li>
  <li>Open <a href="scroll_test.html">this page</a> and test each button works, the default button mapping of the DPedal
    has mouse scroll on the dpad and page up/down on the left/right buttons</li>
  <li>Disconnect the switches again, to prepare for the next stage.</li>
</ol>


<h2>Assembling</h2>
<ol>
  <li>Place PCB into the base part with the hole for the USB port</li><img loading="lazy"
    src="/media/switchplate_and_base1.webp" height="287">
  <li>Place switch plate on top of the PCB</li><img loading="lazy" src="/media/switchplate_and_base2.webp" height="287">
  <li>Place 4 screws through the switch plate and base.</li><img loading="lazy" src="/media/switchplate_and_base3.webp"
    height="287">
  <li>For each screw, hold a square nut behind it and screw them together</li><img loading="lazy"
    src="/media/switchplate_and_base4.webp" height="287">
  <li>Clip the switches into their sockets</li><img loading="lazy" src="/media/insert_switches.webp" height="287">
  <li>Put the dpad between the two base pieces and push the pieces together.</li><img loading="lazy"
    src="/media/connect_other_base.webp" height="287">
  <li>Screw the remaining base part to the switch plate</li><img loading="lazy" src="/media/screw_other_base.webp"
    height="287">
  <li>Push the 2 buttons into the 2 empty switches</li><img loading="lazy" src="/media/insert_buttons.webp"
    height="287">
</ol>
<!--
    1. cut wires and strip ends, strip about ~2-3mm
    * cut the longer wires first, in case you mess up the stripping and your long wires need to become short wires :)
    2. solder wires to pico
    3. place pico in pico base
    4. place pico base and non-pico base next to each other
    5. place switch plate on top of pico base, thread through all the soldered wires out of the switch holes
    6. screw the switch plate on to the pico base
    7. solder the wires to switches, one switch per socket
    8. clip the switches into their sockets
    9. Put the dpad between the two base pieces and push the pieces together.
    10. Screw the right base to the switch plate
    11. Push the 2 buttons into the 2 empty switches
    -->


<h2>Finished!</h2>

<p>Your DPedal is now fully assembled and ready to use.</p>
<img src="/media/finished.webp" loading="lazy">

<p>Slot in the footrest when using it.</p>
<img src="/media/attach_footrest.webp" loading="lazy" height="287">

<p>If you want to change the keyboard/mouse mapping you can use the <a href="/config.html">web configurator</a>.</p>

<h2>Community</h2>

<p>Something not working out? Or want to share the results of a successful build?</p>
<p>Join the <a href="https://discord.gg/KyjBs4x">Discord</a>!</p>

<div style="height:100px;">
  <!-- add some extra padding at the bottom, so the text doesn't abruptly hit the bottom of the page-->
</div>

{% endblock %}