{% extends "base.html" %}

{% block title %}
DPedal build instructions
{% endblock %}

{% block content %}
<h1>DPedal build instructions</h1>
<h2>Parts</h2>
<table>
  <tr>
    <th>Part</th>
    <th>Quantity</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>DPedal PCB</td>
    <td>1</td>
    <td><a href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_gerber_files.zip">Download</a>, then
      <a href="#orderpcb">order online</a>
    </td>
  </tr>
  <tr>
    <td>RP pico 1 USB C variant (headerless)</td>
    <td>1</td>
    <td><a href="https://www.amazon.com.au/DIGISHUO-Raspberry-Pi-Pico-Dual-Core/dp/B0C3BWBL2F">Amazon</a></td>
  </tr>
  <tr>
    <td>2m USB C&lt;-&gt;A cable</td>
    <td>1</td>
    <td><a href="">Amazon</a></td>
  </tr>
  <tr><!--split into own section and list each part individually-->
    <td>3D printed parts</td>
    <td>1 each</td>
    <td><a href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_3d_printed_parts.zip">Download</a>
      and print yourself,<br>or upload to a <a href="">printing
        service</a>
    </td>
  </tr>
  <tr>
    <td>8mm M3 machine screws</td>
    <td>8</td>
    <td></td>
  </tr>
  <tr>
    <td>M3 square nuts</td>
    <td>8</td>
    <td></td>
  </tr>
  <tr>
    <td>choc v1 buttons</td>
    <td>2</td>
    <td></td>
  </tr>
  <tr>
    <td>choc v1 switches</td>
    <td>6</td>
    <td></td>
  </tr>
  <tr>
    <td>choc v1 hotswap sockets</td>
    <td>6</td>
    <td></td>
  </tr>
  <tr>
    <td>Solder</td>
    <td>enough</td>
    <td></td>
  </tr>
</table>
<!--
    * wire lengths (including stripped ends):
    * button left: 70mm
    * dpad left: 55mm
    * dpad top: 70mm
    * dpad right: 150mm (technically 145mm)
    * dpad bottom: 150mm
    * button right: 140mm
    -->

<p>TODO: image of everything laid out</p>


<h2>Tools</h2>

<table>
  <tr>
    <th>Tool</th>
    <th>Link</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>3D printer</td>
    <td><a href="https://www.amazon.com.au/ORIGINAL-PURSA-Beginner-Friendly-Filament-180X180X180/dp/B0D2HXHNG6">Prusa
        mini on Amazon</a>
    </td>
    <td>The prusa mini is the printer I personally use.<br>
      The mini is a bit outdated but it's reliable, repairable and <br>I can only recommend a printer I've
      actually used. <br> Getting the kit is a great way to learn more about printers through the assembly process.</td>
  </tr>
  <tr>
    <td>Soldering iron</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>3M Hex key</td>
    <td><a href="https://www.amazon.com.au/FITTOO-Hex-Key-Set-Ball/dp/B0F938VSXX">Amazon</a>
    </td>
    <td></td>
  </tr>
</table>
<p>TODO: image of everything laid out</p>

<h2 id="orderpcb">Ordering PCB</h2>
<ol>
  <li>Download <a
      href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_gerber_files.zip">dpedal_gerber_files.zip</a>.
  </li>
  <li>Go to <a href="https://cart.jlcpcb.com/quote">JLCPCB</a>, click "Add gerber file" and upload the
    dpedal_gerber_files.zip you just downloaded</li>
  <li>Set following options, leaving the rest as default:</li>
  <ul>
    <li>Surface finish: LeadFree HASL</li>
    <li>PCB thickness 1.2mm</li>
    <li>PCB Color: whatever you want</li>
  </ul>
  <li>Complete order. You probably want "Global Standard Direct Line" for shipping.</li>
</ol>


<h2>Printing</h2>

<p>
  Download the STLs <a
    href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_3d_printed_parts.zip">here</a>.
  Then slice and print each STL yourself.
</p>

<p>Slicing configuration for each part:</p>

<ul>
  <li>default orientation with no supports</li>
  <li>layer height: 0.10mm</li>
  <li>infill: 15% gyroid infill (prusa slicer's default)</li>
  <li>Filament: I use PLA but any hard filament should work fine.</li>
</ul>

<h2>Soldering</h2>
<!--
TODO: Intro to soldering
-->
<ol>
  <li>Solder hotswap sockets to PCB</li>
  <li>Solder pico to PCB</li>
</ol>

<h2>Flashing firmware</h2>

<ol>
  <li>Plug in the pico/PCB to your PC while holding down the flash button.</li>
  <li>Follow the steps below depending on your OS</li>
  <ul>

    <li>macOS</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_firmware_mac_arm.tar.gz">firmware
          (arm host)</a>
        and unzip.</li>
      <li>Open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
    </ol>
    <li>Windows</li>
    <ol>
      <li>To enable flashing on windows, download and run <a href="https://zadig.akeo.ie">zadig</a></li>
      <ol>
        <li>Options -> tick List All Devices</li>
        <li>In the dropdown choose STM32 BOOTLOADER</li>
        <li>Press Replace Driver</li>
      </ol>

      <li>Download the <a
          href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_firmware_windows_x86.tar.gz">firmware
          (x86 host)</a> and unzip.</li>
      <li>Open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">dpedalflash.exe</span>
      </li>
    </ol>
    <li>Linux</li>
    <ol>
      <li>Download the <a
          href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_firmware_linux_x86.tar.gz">firmware
          (x86 host)</a> or <a
          href="https://github.com/rukai/DPedal_v3/releases/latest/download/dpedal_firmware_linux_aarch64.tar.gz">firmware
          (arm host)</a> and unzip.</li>
      <li>open a terminal to the directory containing the firmware and run
        <span style="color:red;font-family:mono;">./dpedalflash</span>
      </li>
    </ol>
  </ul>

  <li>Insert a switch into each socket</li>
  <li>Open <a href="scroll_test.html">this page</a> and test each button works, the default button mapping of the dpedal
    has mouse scroll on the dpad and page up/down on the left/right buttons</li>
  <li>Disconnect the switches again, to prepare for the next stage.</li>
</ol>



<h2>Assembling</h2>
<ol>
  <li>Ensure you have everything in the BOM</li>
  <li>Place PCB in pico base</li>
  <li>Place switch plate on top of pico base</li>
  <li>Screw the switch plate on to the pico base</li>
  <li>Clip the switches into their sockets</li>
  <li>Put the dpad between the two base pieces and push the pieces together.</li>
  <li>Screw the right base to the switch plate</li>
  <li>Push the 2 buttons into the 2 empty switches</li>
</ol>
<!--
    1. cut wires and strip ends, strip about ~2-3mm
    * cut the longer wires first, in case you mess up the stripping and your long wires need to become short wires :)
    2. solder wires to pico
    3. place pico in pico base
    4. place pico base and non-pico base next to each other
    5. place switch plate on top of pico base, thread through all the soldered wires out of the switch holes
    6. screw the switch plate on to the pico base
    7. solder the wires to switches, one switch per socket
    8. clip the switches into their sockets
    9. Put the dpad between the two base pieces and push the pieces together.
    10. Screw the right base to the switch plate
    11. Push the 2 buttons into the 2 empty switches
    -->


<h2></h2>
{% endblock %}

<!-- <style>
    body {
      margin: 0;
      background-color: #DDDDDD;

      color: black;
      font-family: "Noto Sans", sans-serif;
    }

    section {
      display: flex;
      margin: 9%;
      margin-top: 7%;
      margin-bottom: 7%;
    }

    .document {
      container-type: inline-size;
      width: min(96vw, 1500pt);
      display: block;
      margin: auto;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #222222;
        color: white;
      }

      a {
        color: white
      }
    }
  </style> -->