{% extends "base.html" %}

{% block title %}
DPedal Config
{% endblock %}

{% block head %}
<meta property="og:description" content="Configure your DPedal from within your web browser.">
{% endblock %}

{% block content %}
<h1>Web configuration tool</h1>
<div id="config-app">
    <div id="device-selection">
        <button id="open-device">Open device</button>
        <p id="error" style="color:red"></p>
    </div>
</div>

<script type="module">
    import init, { run } from "/assets/dpedal_config_web_app.js";
    (async function () {
        await init();
        run();
    })();
</script>
{% endblock %}