{% extends "base.html" %}

{% block title %}
DPedal
{% endblock %}

{% block head %}
<meta property="og:description"
    content="A USB foot pedal with controls for up, down, left and right plus some extra buttons.">
{% endblock %}

{% block content %}
<img src="/media/dpedal_transparent.webp" style="display: block; margin:auto;max-width:1000px;width:100%" />
<div id="description">
    <p>The DPedal is a <a href="/build.html">DIY</a> directional foot pedal, meaning it has intuitive controls for
        up, down, left and
        right plus some extra buttons, which can be <a href="/config.html">mapped</a> to anything at all.
    </p>
    <p>
        DPedal works well as an assistive device for performing scrolling or arrow key inputs. It can also be used to
        activate macros for streaming or gaming.</p>
    <p>Join the <a href="https://discord.gg/KyjBs4x">Discord</a>, or follow progress on <a
            href="https://www.youtube.com/@RukaiMakes">YouTube</a>.</p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cKfQDGv7vjg?si=iMYlumF2CTwRcSzG"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock %}